html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: #ffffff;
}

#jazzheader {
    background-image: linear-gradient(to right, #2104D9, #030ABC, #020659);
    padding: 15px;

}

body {
    margin: 0 auto;
}

a {
    display: block;
    width: 20%;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

ul li:hover {
    background-color: #590242;
}

.nav1 {
    color:#ffffff;
    font-size: 1.25em;
    font-variant: small-caps;
    text-transform: capitalize;
}

nav ul {
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    text-transform: uppercase;
    color: #ffffff;
}
.navbar {
    background-image: linear-gradient(to left, #2104D9, #030ABC, #020659);
    padding-bottom: 5px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 1.25em;
}
h2, h3 {
    font-size: 1em;
}

p, dl, dd {
    font-size: 1em;
}

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style: none;
    
}

main {
    background-color: #ffffff;
    padding-left: 10px;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

#trending h2 {
    padding-top: 30px;
}

#trending h3 {
    margin-top: 0;
}

.button {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-size: smaller;
    width: 200px;
    color: #ffffff;
    border: 1px solid #590242;
    background-color: #590242;

}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

dl {
    display: flex;

}

dt {
    padding-right: 5px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}
.yourplaylist {
    background-color: #2699FB;
    color: #ffffff;
    text-align: center;
}
.songs {
    background-color: #0d8dfb;
    padding: 10px;
    border: 5px solid#2699fb;
}
.songs img {
    padding-right: 10px;
}

.songs p {
    text-align: center;
    clear: left;
    
}
.songs h3 {
    text-align: center;
}

.csongs img {
    padding-right: 10px;
}
.csongs h3 {
    text-align: center;
}
.csongs p {
    text-align: center;
}

.cplaylist {
    background-color: #2104D9;
    color: #ffffff;
    padding-right: 5px;
    text-align: center;
}
.csongs {
    background-color: #020873;
    padding: 10px;
    border: 5px solid #030abc;
}

.allplaylist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: auto;
    overflow-y: hidden;
    
}

#trending {
    color: #590242;
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: insert 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: insert 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}


footer {
    padding: 20px;
    background-color: #ffffff;
}

footer p {
    font-size: .75em;
    text-align: center;
    color: #590242;   
}


@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
    .yourplaylist {
        text-align: left;
    }
    .cplaylist {
        text-align: left;
    }


}