/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #020659;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0 auto;
  width: 85%;
  padding: 0;
}

a {
  color: #000;
}
main {
  background-color: #fff;
}
h1 {
  font-size: 1.25em;
}
h2,
h3 {
  font-size: 1em;
}
p,
dl,
dd {
  font-size: 1em;
}
footer p {
  font-size: 0.75em;
}
nav h2 {
  visibility: hidden;
}
footer {
  color: #590242;
  justify-content: center;
}
/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}
audio::-webkit-media-controls-mute-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
  background-color: rgba(255, 255, 255, 0.5);
}
#trending ::-webkit-scrollbar {
  width: 15px;
}
#trending ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
  background: #590242;
  border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
  background: #020659;
}
#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
  width: 15px;
}
#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
  background: #020659;
  border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.scroll {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll section {
  margin: 10px;
  position: relative;
}
.scroll div {
  position: absolute;
  top: 251px;
  background-color: rgb(255, 255, 255, 0.75);
  padding: 5px;
  height: 50px;
  width: 350px;
}
dl {
  display: flex;
}
dt {
  padding-right: 5px;
}
audio {
  position: absolute;
  bottom: 150px;
  left: 5px;
}
.more {
  text-decoration: none;
  background-color: #590242;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  display: block;
  text-align: center;
  margin: 10px 0 30px 32px;
}
.more:hover {
  background-color: #020659;
}
#playlists {
  background-color: #0d8dfb;
  color: #ffffff;
}
#curated {
  background-color: #2104d9;
  color: #ffffff;
}